<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zetapush.library">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".ZetaPushService"
            android:enabled="true"
            android:exported="true"></service>
    </application>
</manifest>
